.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-memories-label {
    display: grid;
    grid-template-columns: 80px 1fr;
    background-color: #FF90BC;
    width: 300px;
    height: 70px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    border: 1px solid #FF90BC; 
    border-radius: 10px;
    background-color: #FF90BC;
    color: white;
    width: 50px;
    height: 30px;
    font-size: 20px;
}

.back-btn:hover {
    color: aliceblue;
    cursor: pointer;
}

.fields-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 840px){
    body {
        background-color: #F9F9E0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .add-memories-label {
        display: grid;
        grid-template-columns: 80px 1fr;
        background-color: #FF90BC;
        width: 100%;
        height: 70px;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .back-btn {
        border: 1px solid #FF90BC; 
        border-radius: 10px;
        background-color: #FF90BC;
        color: white;
        width: 50px;
        height: 30px;
        font-size: 20px;
    }
    
    .back-btn:hover {
        color: aliceblue;
        cursor: pointer;
    }

    .fields-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    .field {
        border: 1px solid gray;
        border-radius: 10px;
        width: 100%;
        height: 35px;
        
    }

    .title {
        grid-area: 1 / 1 / 1 / 3;
    }

}