.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1 {
  font-family: "Dancing Script", cursive;
}

.view-memories {
    border: 1px solid gray;
    background-color: #FF90BC;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    height: 45px;
    width: 180px; 
}

.view-memories:hover {
    background-color: #F9F9E0;
    color: #FF90BC;
    cursor: pointer;
}

@media (max-width: 840px) {
    body {
        background-color: #F9F9E0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
      font-family: "Dancing Script", cursive;
      text-align: center;
    }

    .time-span {
        align-self: flex-start;
        font-family: "Dancing Script", cursive;
        margin-left: 20px;
    }
    
    .view-memories {
        font-family: "Josefin Sans", sans-serif;
        border: 1px solid gray;
        background-color: #FF90BC;
        border-radius: 10px;
        color: white;
        font-size: 17px;
        height: 45px;
        width: 250px;
    }
    
    .view-memories:hover {
        background-color: #F9F9E0;
        color: #FF90BC;
        cursor: pointer;
    }
}